.footer{
    width: 100%;
    padding: 30px 0;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > div > p{
    color: var(--white);
    font-family: var(--font);
    font-style: 300;
    font-size: var(--font_size);
    margin-bottom: 10px;
}

.footer > div > a{
    color: var(--white);
    font-family: var(--font);
    font-style: 300;
    font-size: var(--font_size);
}

@media (max-width:600px) {
    .footer > div > p{
        font-size: var(--font_size_responsive);
        margin-bottom: 10px;
    }
    
    .footer > div > a{
        font-size: var(--font_size_responsive);
    }
}
