.project {
  background-color: var(--white);
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.103);
}

.grid_project {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content_img_project {
  width: 35%;
  height: 220px;
  margin-right: 25px;
  border-radius: 15px;
}

.content_img_project > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.content_text_project {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_text_project > div > h3 {
  font-family: var(--font);
  font-weight: 700;
  color: black;
  font-size: 2rem;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.content_text_project > div > p {
  font-family: var(--font);
  font-weight: 300;
  color: black;
  font-size: var(--font_size);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.grid_button{
    display: flex;
    flex-direction: row;
}

.red_btn{
    display: block;
    width: fit-content;
    font-family: var(--font);
    background-color: var(--red);
    font-size: 1rem;
    color: var(--white);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .red_btn:hover {
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
    border: 1px solid var(--red);
    background-color: transparent;
    color: var(--red);
  }
  
  .red_btn:active{
    box-shadow: 0;
    transform: scale(0.9);
  }

  .red_btn > i{
    margin-left: 5px;
  }
  
  .transparent_btn_black{
    display: block;
    width: fit-content;
    font-family: var(--font);
    background-color: transparent;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .transparent_btn_black:hover {
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
    background-color: transparent;
    color: var(--red);
  }
  
  .transparent_btn_black:active{
    transform: scale(0.9);
    box-shadow: 0;
    color: black;
  }

  @media (max-width:400px){

    .grid_button{
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
  }

    .red_btn{
      width: fit-content;
      font-size: var(--font_size_responsive);
      padding: 5px 5px !important;
      cursor: pointer;
      border-radius: 6px;
    }

    .red_btn > i{
      display: none;
    }
  }

  @media (max-width:600px) {
    .project {
      height: 150px;
      border-radius: 20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.103);
    }
    
    .grid_project {
      padding: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    
    .content_img_project {
      width: 35%;
      height: 100%;
      margin-right: 10px;
      border-radius: 15px;
    }
    
    .content_img_project > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    
    .content_text_project {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .content_text_project > div > h3 {
      font-family: var(--font);
      font-size: 1.1rem;
      margin-bottom: 10px;
      -webkit-line-clamp: 1;
    }
    
    .content_text_project > div > p {
      font-size: var(--font_size_responsive);
      -webkit-line-clamp: 2;
    }
    
    .grid_button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .red_btn{
        width: fit-content;
        font-size: var(--font_size_responsive);
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 6px;
      }
    
      .red_btn > i{
        margin-left: 5px;
      }
      
      .transparent_btn_black{
        width: fit-content;
        font-size: var(--font_size_responsive);
        padding: 5px 0px;
        cursor: pointer;
      }
  }

  @media (max-width:1200px) AND (min-width:601px){
    .project {
      height: 200px;
      border-radius: 20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.103);
    }
    
    .grid_project {
      padding: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    
    .content_img_project {
      width: 35%;
      height: 100%;
      margin-right: 10px;
      border-radius: 15px;
    }
    
    .content_img_project > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    
    .content_text_project {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .content_text_project > div > h3 {
      font-family: var(--font);
      font-size: 1.1rem;
      margin-bottom: 10px;
      -webkit-line-clamp: 1;
    }
    
    .content_text_project > div > p {
      font-size: var(--font_size_responsive);
      -webkit-line-clamp: 3;
    }
    
    .grid_button{
      width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .red_btn{
        width: fit-content;
        font-size: var(--font_size_responsive);
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 6px;
        margin-right: 25px;
      }
    
      .red_btn > i{
        margin-left: 5px;
      }
      
      .transparent_btn_black{
        width: fit-content;
        font-size: var(--font_size_responsive);
        padding: 5px 0px;
        cursor: pointer;
      }
  }