.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Alto para garantir sobreposição */
  animation: fadeIn 0.3s ease-in-out;
}

.modalContent {
  background: var(--white);
  border-radius: 12px;
  /* padding: 2rem; */
  width: 80%;
  max-width: 1200px;
  text-align: center;
  position: relative;
  animation: scaleIn 0.3s ease;
  z-index: 10000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.103);
}

.headerModal{
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(140 140 140 / .2)
}

.headerModal > p{
  font-family: var(--font);
  font-weight: 500;
  color: black;
  font-size: 1rem;
}

.content{
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.content > div{
  padding: 0 15px;
  width: 35%;
  /* background-color: aqua; */
}

.content > div > h2 {
  font-family: var(--font);
  font-weight: 700;
  color: black;
  font-size: 1.2rem;
  margin: 20px 0;
}

.content > div > p {
  font-family: var(--font);
  font-weight: 200;
  color: black;
  font-size: 1rem;
  margin-bottom: 20px;
}

.modalImage {
  width: 62%;
  height: 60vh;
  object-fit: contain;
  border-radius: 0 0 0 12px;
  background-color: black;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10001;
  color: black;
}

.grid_tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0 20px 0;
  pointer-events: none;
  width: 100%;
}

.tags{
  display: block;
  padding: 4px 9px;
  margin-right: 7px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: var(--font);
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
}

.react-native {
  /* background-color: #61dafb44; */
  color: #61DAFB;
  border: 1px solid #61DAFB;
}

.git {
  /* background-color: #f0503044; */
  color: #F05030;
  border: 1px solid #F05030;
}

.github {
  /* background-color: #18171744; */
  color: #181717;
  border: 1px solid #181717;
}

.next {
  /* background-color: #00000044; */
  color: #000000;
  border: 1px solid #000000;
}

.vite {
  /* background-color: #646cff44; */
  color: #646CFF;
  border: 1px solid #646CFF;
}

.aws {
  /* background-color: #ff990044; */
  color: #FF9900;
  border: 1px solid #FF9900;
}

.angular {
  /* background-color: #dd003044; */
  color: #DD0031;
  border: 1px solid #DD0031;
}

.react {
  /* background-color: #61dafb44; */
  color: #61DAFB;
  border: 1px solid #61DAFB;
}

.vue {
  /* background-color: #42b88344; */
  color: #42B883;
  border: 1px solid #42B883;
}

.javascript {
  /* background-color: #f7df1e44; */
  color: #F7DF1E;
  border: 1px solid #F7DF1E;
}

.typescript {
  /* background-color: #3178c644; */
  color: #3178C6;
  border: 1px solid #3178C6;
}

.html {
  /* background-color: #e34f2644; */
  color: #E34F26;
  border: 1px solid #E34F26;
}

.css {
  /* background-color: #2965f144; */
  color: #2965F1;
  border: 1px solid #2965F1;
}

.nodejs {
  /* background-color: #68a06344; */
  color: #68A063;
  border: 1px solid #68A063;
}

.python {
  /* background-color: #3776ab44; */
  color: #3776AB;
  border: 1px solid #3776AB;
}

.java {
  /* background-color: #00739644; */
  color: #007396;
  border: 1px solid #007396;
}

.php {
  /* background-color: #8892be44; */
  color: #8892BE;
  border: 1px solid #8892BE;
}

.csharp {
  /* background-color: #23912044; */
  color: #239120;
  border: 1px solid #239120;
}

.ruby {
  /* background-color: #cc342d44; */
  color: #CC342D;
  border: 1px solid #CC342D;
}

.go {
  /* background-color: #00add844; */
  color: #00ADD8;
  border: 1px solid #00ADD8;
}

.swift {
  /* background-color: #fa734344; */
  color: #FA7343;
  border: 1px solid #FA7343;
}

.kotlin {
  /* background-color: #7f52ff44; */
  color: #7F52FF;
  border: 1px solid #7F52FF;
}

.sql {
  /* background-color: #e38c0044; */
  color: #E38C00;
  border: 1px solid #E38C00;
}

.mysql {
  /* background-color: #4479a144; */
  color: #4479A1;
  border: 1px solid #4479A1;
}

.postgresql {
  /* background-color: #33679144; */
  color: #336791;
  border: 1px solid #336791;
}

.mongodb {
  /* background-color: #47a24844; */
  color: #47A248;
  border: 1px solid #47A248;
}

.docker {
  /* background-color: #2496ed44; */
  color: #2496ED;
  border: 1px solid #2496ED;
}

/* Tag default */
.default {
  /* background-color: #66666644; */
  color: #666;
  border: 1px solid #666;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width:750px) {
  .modalContent {
    width: 80%;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
  }
  
  .content > div{
    padding: 0 15px;
    width: 100%;
    /* background-color: aqua; */
  }
  
  .content > div > h2 {
    font-family: var(--font);
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .content > div > p {
    font-family: var(--font);
    font-weight: 200;
    color: black;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .modalImage {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 0;
  }
  
  .closeButton {
    font-size: 1.5rem;
  }
}