.grid_container {
  /* background-color: rgba(255, 0, 0, 0.247); */
  width: 90%;
  height: 100%;
  max-width: 1440px;
}

.main {
  width: 100%;
  height: 100%;
}

.first_section {
  background-color: var(--second_background);
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_first_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}

.text_content {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aqua; */
}

.text_content > h3 {
  color: var(--white);
  font-family: var(--font);
  font-size: var(--fs-1);
  font-weight: 700;
  /* margin-bottom: 25px; */
}

.text_content > h1 {
  color: var(--red);
  font-family: var(--font);
  text-transform: capitalize;
  font-size: var(--fs-4);
  font-weight: 700;
  /* margin-bottom: 25px; */
}

.text_content > h2 {
  color: var(--white);
  font-family: var(--font);
  font-size: var(--fs-2);
  font-weight: 700;
  /* margin-bottom: 35px; */
}

.text_content > h2 > span {
  color: var(--white);
  font-family: var(--font);
  font-size: var(--fs-3);
  font-weight: 700;
  position: relative;
}

.text_content > h2 > span::before{
  content: "";
  animation: words 12s infinite;
}

.text_content > h2 > span::after{
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid var(--white);
  right: -10;
  animation: cursor 1s infinite, write 20s steps(15) infinite;
  width: calc(100% + 18px);
  background-color: var(--second_background);
}

@keyframes write {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }

  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 18px);
  }
}

@keyframes cursor {
  0%{
    border-left: 2px solid var(--second_background);
  }
}

@keyframes words {
  0%,33%{
    content: "Full-stack"
  }
  34%,66%{
    content: "Front-end";
  }
  67%,100%{
    content: "Back-end";
  }
}

.grid_button{
  display: flex;
  flex-direction: row;
}

.red_btn {
  display: block;
  cursor: pointer;
  width: fit-content;
  font-family: var(--font);
  background-color: var(--red);
  font-size: var(--font_size);
  color: var(--white);
  font-weight: 700;
  padding: 17px 19px;
  border-radius: 10px;
  /* transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--red);
  margin-right: 15px;
}

.red_btn:hover {
  border: 1px solid var(--red);
  background-color: transparent;
  color: var(--red);
}

.red_btn:active{
  transform: scale(0.9);
  box-shadow: 0;
}

.transparent_btn_white {
  cursor: pointer;
  display: block;
  width: fit-content;
  font-family: var(--font);
  background-color: transparent;
  font-size: var(--font_size);
  color: var(--white);
  font-weight: 700;
  padding: 17px 34px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.transparent_btn_white:hover {
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
  background-color: transparent;
  color: var(--red);
}

.transparent_btn_white:active{
  transform: scale(0.9);
  box-shadow: 0;
  color: var(--white);
}

.transparent_btn_black {
  cursor: pointer;
  display: block;
  width: fit-content;
  font-family: var(--font);
  background-color: transparent;
  font-size: var(--font_size);
  color: black;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.transparent_btn_black:hover {
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
  background-color: transparent;
  color: var(--red);
}

.transparent_btn_black:active{
  transform: scale(0.9);
  box-shadow: 0;
  color: black;
}

.img_content {
  width: 38%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  /* background-color: aqua; */
}

.img_content > img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

.second_section {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content_second_section {
  padding: 100px 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_content_second_section {
  width: 38%;
  height: 100%;
  display: block;
  align-items: flex-start;
}

.img_content_second_section > img {
  width: 100%;
  /* height: 100%; */
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

.text_content_second_section {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h2_normal_section {
  font-family: var(--font);
  font-weight: 700;
  color: var(--red);
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.text_content_second_section > div > p {
  font-family: var(--font);
  font-weight: 500;
  color: black;
  font-size: var(--font_size);
  margin-bottom: 60px;
}

.third_section {
  background-color: var(--third_background);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content_third_section {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content_third_section > i {
  font-weight: 700;
  color: var(--red);
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.fourth_section {
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_fourth_section {
  padding: 100px 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.fourth_section_txt {
  width: 40%;
}

.fourth_section_txt > i {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: var(--red);
  font-size: 1.3rem;
  margin-bottom: 25px;
  display: none;
}

.fourth_section_txt > p {
  font-family: var(--font);
  font-weight: 500;
  color: black;
  font-size: var(--font_size);
}

.fourth_section_grid_carousel {
  width: 50%;
  position: absolute;
  right: 0;
}

.fiveth_section {
  background-color: var(--third_background);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content_fiveth_section {
  padding: 180px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content_fiveth_section > i {
  font-weight: 700;
  color: var(--red);
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.grid_projects {
  width: 100%;
}

.sixth_section{
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content_sixth_section{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content_sixth_section > p{
  font-family: var(--font);
  font-weight: 500;
  color: black;
  font-size: var(--font_size);
  margin-bottom: 50px;
}

.contact_links{
  width: 25%;
}

.contact_links > ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_links > ul > li{
  list-style: none;
  width: 64px;
  height: 64px;
  background-color: var(--red);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-weight: 500;
  color: var(--white);
  font-size: 32px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

/* 
.contact_links > ul > li > a{
  font-family: var(--font);
  font-weight: 500;
  color: var(--white);
  font-size: 32px;
} */

.contact_links > ul > li:hover{
  color: var(--red);
  background-color: transparent;
  border: 1px solid var(--red);
}

.contact_links > ul > li:active{
  transform: scale(0.9);
  color: var(--red);
  background-color: transparent;
  border: 1px solid var(--red);
}

@media (max-width:600px) {
  .first_section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content_first_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
  }
  
  .text_content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
  }
  
  .text_content > h3 {
    font-size: 16px;
    font-weight: 700;
    /* margin-bottom: 25px; */
  }
  
  .text_content > h1 {
    font-size: 50px;
    font-weight: 700;
    /* margin-bottom: 25px; */
  }
  
  .text_content > h2 {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 35px; */
  }
  
  .text_content > h2 > span {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0px;
  }
  
  .text_content > h2 > span::before{
    content: "";
    animation: words 12s infinite;
  }
  
  .text_content > h2 > span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--white);
    right: 0;
    animation: cursor 1s infinite, write 20s steps(15) infinite;
    width: 100%;
    background-color: var(--second_background);
    /* background-color: antiquewhite; */
  }

  @keyframes write {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
    }
  
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: 100%;
    }
  }
  
  @keyframes cursor {
    0%{
      border-left: 2px solid var(--second_background);
    }
  }
  
  @keyframes words {
    0%,33%{
      content: "Full-stack"
    }
    34%,66%{
      content: "Front-end";
    }
    67%,100%{
      content: "Back-end";
    }
  }
  
  .grid_button{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .grid_button_center{
    display: flex;
    justify-content: center !important;
    flex-direction: row;
  }
  
  .red_btn {
    font-size: var(--font_size_responsive);
    padding: 15px 19px;
    display: block;
  }

  .transparent_btn_white {
    font-size: var(--font_size_responsive);
    padding: 15px 30px;
    /* background-color: aqua; */
  }

  .transparent_btn_black {
    font-size: var(--font_size_responsive);
    padding: 15px 35px;
  }
  
  .img_content {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-start;
    /* margin-bottom: 80px; */
    /* background-color: aqua; */
    /* display: none; */
  }
  
  .img_content > img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
  }

  /* --------------------------------- */

  .second_section {
    width: 100%;
    height: 100%;
  }
  
  .content_second_section {
    padding: 60px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .img_content_second_section {
    width: 100%;
    height: 35%;
    align-items: center;
    max-width: 350px;
    min-width: 320px;
  }
  
  .img_content_second_section > img {
    width: 100%;
    height: 100%;
  }
  
  .text_content_second_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .h2_normal_section {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
  
  .text_content_second_section > div > p {
    text-align: center;
    font-size: var(--font_size_responsive);
    margin-bottom: 60px;
  }

  /* ---------------------- */

  .third_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_third_section {
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;
  }
  
  .content_third_section > i {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  /* --------------------------------------- */

  .fourth_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content_fourth_section {
    padding: 60px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: unset;
  }
  
  .fourth_section_txt {
    width: 100%;
  }
  
  .fourth_section_txt > p {
    font-size: var(--font_size_responsive);
    margin-bottom: 50px;
    text-align: center;
  }
  
  .fourth_section_grid_carousel {
    width: 100%;
    position: unset;
  }

  /* ----------------------------------- */

  .fiveth_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_fiveth_section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .content_fiveth_section > i {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
  
  .grid_projects {
    width: 100%;
  }

  /* ---------------------- */

  .sixth_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_sixth_section{
    padding: 60px 0;
  }
  
  .content_sixth_section > p{
    font-weight: 500;
    font-size: var(--font_size_responsive);
    margin-bottom: 50px;
  }
  
  .contact_links{
    width: 70%;
    min-width: 235px;
  }
  
  .contact_links > ul > li{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
  }
}

@media (max-width:690px) AND (min-width:601px){

  .text_content > h3 {
    font-size: var(--fs-1);
    margin-bottom: 25px;
  }
  
  .text_content > h1 {
    font-size: var(--fs-4);
    margin-bottom: 25px;
  }

  .text_content > h2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .text_content > h2 > span {
    letter-spacing: 8px;
  }

  .content_first_section {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
  }

  .text_content {
    height: fit-content !important;
  }
}

@media (max-width:1200px) AND (min-width:601px){

  .second_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_second_section {
    padding: 60px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .img_content_second_section {
    width: 45% !important;
    min-width: 340px;
    align-items: flex-start;
  }
  
  .img_content_second_section > img {
    width: 100%;
  }
  
  .text_content_second_section {
    width: 100% !important;
    display: flex;
    text-align: center;
  }

  .grid_button_center{
    display: flex;
    justify-content: center !important;
    flex-direction: row;
  }

  /* ----------------------------------------- */

  .fourth_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content_fourth_section {
    padding: 60px 0;
    height: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: flex-start;
    position: unset !important;
  }
  
  .fourth_section_txt {
    width: 100% !important;
    text-align: center;
  }
  
  .fourth_section_txt > p {
    font-size: var(--font_size_responsive);
    margin-bottom: 50px;
  }
  
  .fourth_section_grid_carousel {
    width: 100% !important;
    position: unset !important;
  }

  /* --------------------------------------------------- */
  .content_fiveth_section {
    padding: 60px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width:1400px) AND (min-width:601px) {
  .first_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content_first_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .text_content {
    width: 100%;
    height: 65%;
    justify-content: space-between;
    /* background-color: aqua; */
  }
  
  .text_content > h3 {
    font-size: var(--fs-1);
    /* margin-bottom: 25px; */
  }
  
  .text_content > h1 {
    font-size: var(--fs-4);
    /* margin-bottom: 25px; */
  }
  
  .text_content > h2 {
    font-size: var(--fs-2);
    /* margin-bottom: 35px; */
  }
  
  .text_content > h2 > span {
    font-size: var(--fs-3);
    font-weight: 700;
    position: relative;
  }
  
  .text_content > h2 > span::before{
    content: "";
    animation: words 12s infinite;
  }
  
  .text_content > h2 > span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--white);
    right: -10;
    animation: cursor 1s infinite, write 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: var(--second_background);
  }
  
  @keyframes write {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
    }
  
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 18px);
    }
  }
  
  @keyframes cursor {
    0%{
      border-left: 2px solid var(--second_background);
    }
  }
  
  @keyframes words {
    0%,33%{
      content: "Full-stack"
    }
    34%,66%{
      content: "Front-end";
    }
    67%,100%{
      content: "Back-end";
    }
  }
  
  .grid_button{
    display: flex;
    flex-direction: row;
  }
  
  .red_btn {
    width: fit-content;
    font-size: var(--font_size);
    font-weight: 700;
    padding: 17px 19px;
    margin-right: 15px;
  }
  
  .transparent_btn_white {
    width: fit-content;
    font-size: var(--font_size);
    font-weight: 700;
    padding: 17px 34px;
  }
  
  .transparent_btn_black {
    width: fit-content;
    font-size: var(--font_size);
    font-weight: 700;
    padding: 18px 35px;
  }
  
  .img_content {
    width: 0%;
    height: 70%;
    display: none;
  }

  /* --------------------------------- */

  .second_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_second_section {
    padding: 60px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .img_content_second_section {
    width: 38%;
    align-items: flex-start;
  }
  
  .img_content_second_section > img {
    width: 100%;
  }
  
  .text_content_second_section {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .h2_normal_section {
    font-size: 3.5rem;
    margin-bottom: 25px;
  }
  
  .text_content_second_section > div > p {
    font-size: var(--font_size);
    margin-bottom: 60px;
  }

  /* ---------------------- */

  .third_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_third_section {
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;
  }
  
  .content_third_section > i {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  /* --------------------------------------- */

  .fourth_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content_fourth_section {
    padding: 60px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .fourth_section_txt {
    width: 40%;
  }
  
  .fourth_section_txt > p {
    font-size: var(--font_size);
  }
  
  .fourth_section_grid_carousel {
    width: 50%;
    position: absolute;
    right: 0;
  }

  /* ----------------------------------- */

  .fiveth_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_fiveth_section {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .content_fiveth_section > i {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
  
  .grid_projects {
    width: 100%;
  }

  /* ---------------------- */

  .sixth_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content_sixth_section{
    padding: 60px 0;
  }
  
  .content_sixth_section > p{
    font-weight: 500;
    font-size: var(--font_size);
    margin-bottom: 50px;
  }
  
  .contact_links{
    min-width: 280px;
    width: 30%;
  }
  
  .contact_links > ul > li{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
  }
}
